.gradle
build

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around httpsyoutrack.jetbrains.comissueIDEA-116898
# gradlewrappergradle-wrapper.properties

# INTELLIJ
.idea

# GRADLE
gradlew*
gradle-wrapper.jar

bin/
*.old